<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Authors</title>
</head>
<body>
<h1>Authors</h1>
<p style="color:green;" th:text="${message}"/>

<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Surname</th>
        <th colspan="2">Action</th>
    </tr>

    <tr th:each="author : ${authors}">
        <td th:text="${author.id}"></td>
        <td th:text="${author.name}"></td>
        <td th:text="${author.surname}"></td>
        <td>
            <a th:href="@{'authors/delete/'+${author.id}}">Delete</a>
            <a th:href="@{'authors/edit/'+${author.id}}">Edit</a>

        </td>
    </tr>


</table>


</body>
</html>